[ml2_cisco_ucsm]

# Configuration for Single UCSM Support
# Cisco UCS Manager IP address
# ucsm_ip=1.1.1.1

# Username to connect to UCS Manager
# ucsm_username=user

# Password to connect to UCS Manager
# ucsm_password=password

# Hostname to Service profile mapping for UCS Manager
# controlled compute hosts
# ucsm_host_list=Hostname1:Serviceprofile1, Hostname2:Serviceprofile2

# SR-IOV and VM-FEX vendors supported by this plugin
# xxxx:yyyy represents vendor_id:product_id
# This config is optional.
# supported_pci_devs=['2222:3333', '4444:5555']

# Ethernet port names to be used for virtio ports
# ucsm_virtio_eth_ports = eth0, eth1

# UCSM information for multi-UCSM support.
# The following section can be repeated for the number of UCS Managers in
# the cloud.
# UCSM information format:
# [ml2_cisco_ucsm_ip:1.1.1.1]
# ucsm_username = username
# ucsm_password = password
# ucsm_virtio_eth_ports = eth0, eth1

# Hostname to Service Profile mapping for Compute hosts managed by
# this UCS Manager. This config should be specified for hosts configured
# with only Service Profiles and not Service Profile Templates.
# ucsm_host_list=Hostname1:Serviceprofile1, Hostname2:Serviceprofile2

# Service Profile Template config per UCSM. This is a mapping of Service Profile
# Template to the list of UCS Servers controlled by this template.
# sp_template_list = SP_Template1_path:SP_Template1:S1,S2 SP_Template2_path:SP_Template2:S3,S4

# VNIC Profile Template config per UCSM.
# vnic_template_list = physnet1:vnic_template_path1:vt11,vt12 physnet2:vnic_template_path2:vt21,vt22

# Pre-defined QoS policy name
# sriov_qos_policy=Test

# SR-IOV Multi-VLAN trunk config section
# [sriov_multivlan_trunk]
# Neutron network name=<comma seperated list of VLAN-ids or VLAN-id ranges>
# For example:
# test_network1=5,7-9
# test_network2=500,701 - 709
